**/.cache
**/.vscode

**/*.o
**/*.out*
**/out
**/*.a
**/*.so
**/obj*

**/.bsp
**/.scala-build

**/target
**/build
**/obj_dir
**/compile_commands.json

*.*

!Makefile
!*.mk
!*.[cShv]
!*.sv
!*.cc
!*.cpp
!*.scala
!.gitignore
!README.md
!log
