.cache
.vscode
.metals

build
target
obj_dir
out
.bsp
.scala-build
target

*.o
*.out
*.a
*.so
*.bak
*.swp
*.vcd
compile_commands.json

!Makefile
!*.mk
!*.[cShv]
!*.sv
!*.cc
!*.cpp
!*.scala
!*.nxdc
!.gitignore
!README.md
!log

